aniso8601
attrs
cffi
click
colorama
cryptography
et-xmlfile==1.1.0
Flask
Flask-Cors
flask-restx
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mkl-fft
mkl-random
mkl-service==2.4.0
numpy
openpyxl==3.0.10
pycparser
pyOpenSSL
python-dateutil
pytz
referencing
rpds-py
six
Werkzeug
